// home area

.heroBackgroundImg {
  background-image: url('../images/banner.jpeg');
  background-position:bottom;
  background-size:cover;
  height:100vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #F5F0E7;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-img1{
  background-image: url('../images/feature1.jpeg');
  background-position:center;
  background-size:cover;
  height:420px;
  max-width: 350px;

}
.feature-img1-md{
  background-image: url('../images/feature1.jpeg');
  background-position:center;
  background-size:cover;
  height:252px;

}

.feature-img2{
  background-image: url('../images/feature2.jpeg');
  background-position:center;
  background-size:cover;
  height:420px;
  max-width: 350px;

}

.feature-img2-md{
  background-image: url('../images/feature2.jpeg');
  background-position:center;
  background-size:cover;
  height:252px;

}
.feature-img3{
  background-image: url('../images/feature3.jpeg');
  background-position:center;
  background-size:cover;
  height:420px;
  max-width: 350px;

}
.feature-img3-md{
  background-image: url('../images/feature3.jpeg');
  background-position:center;
  background-size:cover;
  height:252px;

}

.space-img1{
  background-image: url('../images/space2.jpg');
  background-position:center;
  background-size:cover;
  height:207px;
}

.opt-img1{
  background-image: url('../images/course1.jpg');
  background-position:0% 50%;
  background-size:cover;
  height:237px;
}