.redius-0 {
    border-radius: 0; 
  }
  
  
  .redius-s {
    border-radius: 4px; //.25rem;
  }
  
  .z-index-30 {
    z-index:30;
  }
  
  .z-index-99 {
    z-index:99;
  }
  
  .fs-0 {
    font-size: 48px;
  }
  